# IDE
.idea/
*.iml
.DS_Store

# Gradle
.gradle/
**/build/
**/android/.gradle/
**/android/build/
**/android/app/build/

# Local configuration
local.properties
.env
*.jks

# Logs
*.log

# Kotlin
.kotlin/
